.container { 
            padding: 0;
            background-color: black;
            max-width: 1000px;
            min-height: 1200px;
            font-family: 'Muli', sans-serif;
            color: #222;

}

a {
    color:#222;
    text-decoration: underline;
}

a:hover {
    color: rgb(208, 55, 55)
}



 /* ------------------------------------------------------ HEADER -- */

.header {
         background-color: white;
         font-family: 'Amatic SC', cursive;
         padding-top: 10px;
         margin: 0;
         position: relative;
}

.header h1 {
            float: left;
            padding-bottom: 0px;
            margin-left: 5%;
}

.header h1 a {
    text-decoration: none;
}

#bridge { 
             width: 100%;
             height: 100%;
             object-fit: cover;
}

#photog {
    width: 4%;
    position: absolute;
    bottom: 6.5%;
    right: 11%;
    z-index: 0;

}




/* ---------------------------------------------------------- NAV LIST -- */

.navlist {
    float: right;
    font-size: 22px;
    list-style-type: none;
    text-align: right;
}

.navlist li {
    display: inline;
    padding: 0px 10px 0px 10px;
}


/* ----------------------------------------------------------- Experience */

.double, .single, .other{
    margin: 20px;
}

.company {

        margin: 10px;
        padding: 0;


}

.company-body {
    background-color: white;
    color: black;
    margin: 0;
    display: flex;  
    flex-direction: column;
    justify-content: space-between;

}

.company-name {
    background-color: black;
    color: white;
}

.company-name h2 {
           font-size: 28px;
           margin-bottom: 10px;
           font-family: 'Amatic SC', cursive;
}

.jobs {
    margin: 0;
}

.job-description {
    padding: 20px;
    font-size: 13px;
    min-width: 250px;   
}

.job-description h3, .other-job-description h3 {
        font-size: 22px;
        font-family: 'Amatic SC', cursive;
}

.job-description h4, .other-job-description h4 {
    font-size: 13px;
}

.other-company-body {
    background-color: black;
    color: white;
    margin: 10px;
    padding: 0;
}

.other-job-description {
        padding: 10px;
        font-size: 13px;    
        min-width: 100px;
}

.company-footer {
        width: 100%;
        margin: 0px
}

.company-footer img {
    width: 100%;

}

.company-img {
    margin: 0;
    padding: 0px
}

@media only screen and (max-width: 500px) {

    #photog {
    bottom: 3%;
    }
    .double, .single, .other{
    margin: 0px;
    }
} 
