

.job {
    margin: 0;
}

.job-description {
    min-width: 250px;   
}

.job-description:nth-child(odd) {
    padding-right: 15px;
}

.job-description:nth-child(even) {
    padding-left: 15px;
}


#wheelbarrow {
    position: absolute;
    bottom: 2%;
    right: 7%;
    width: 25%;
}

#machine {
    position: absolute;
    bottom:20%;
    left: 5%;
    width: 35%;
}

@media only screen and (max-width: 500px) {

    #wheelbarrow {
        bottom: 1.5%;
    }

    #machine {
    position: absolute;
    bottom: 1%;
    left: 5%;
    width: 35%;
    }

    .job-description:nth-child(odd) {
    padding: 0;
    }

    .job-description:nth-child(even) {
    padding-left: 0;
    }
} 
