.talents {
    min-width: 200px;
}

/* -------------------------------------------------------------- CARDS -- */

.projects:hover #balloon{
    width: 30%;
    margin-bottom: 10%;
}

.projects p {
    width: 70%;
}

#balloon {
    position: absolute;
    bottom: 10%;
    right: 20px;
    width: 20%;
    margin-bottom: 10%;
    transition: width 3s, margin-bottom 3s;
    transition-timing-function: ease-in;
}

.experience:hover #plane {
    margin-right: 30%;
    width: 0%;
    transform: rotateY(0deg);
    transition-timing-function: ease-out;
}

#plane {
    position: absolute;
    right: 0;
    bottom:40%;
    margin-right: -25px;
    width: 5%;
    transition: margin-right 5s, width 5s;
    transition-timing-function: ease-in;
    transform: rotateY(180deg)
}

.education:hover #birds {
    margin-right: -5%;
}

#birds {
    position: absolute;
    bottom: 15%;
    right: 0;
    width: 45%;
    margin-right: -25%;
    transition: margin-right 4s;
    transition-timing-function: linear;

}

.photos:hover #flamingo {
    filter: blur(0px);
}

.photos:hover #grass-blur {
        filter: blur(5px);
        width: 100%;
}

.photos p {
    width: 60%; 
}


#flamingo {
           position: absolute;
           bottom: 0;
           right: 5px;
           width: 30%;
           padding: 10px;
           filter: blur(5px);
           transition: filter 1.5s;
           transition-timing-function: ease-out;
}

#grass-blur {
    filter: blur(0px);
    position: absolute;
    bottom: 15px;
    width: 100%;
    transition: filter 1s;
    transition-timing-function: ease-out;
}



