body {
    font-size: 16px;
    font-weight: 300;
    background-color: black;
}

a {
    color:#FFCC99;
    text-decoration: underline;
}


a.strong-link {
    background-color: rgb(208, 55, 55);
    color: white;
    padding: 7px 30px 7px 30px;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    border-radius: 15px;
}

a.strong-link:hover {
    opacity: 0.9;
}

 /* ---------------------------------------------------------- HEADER -- */


.header {
    padding-top: 20px;
    margin-top: 0px;
}

.header img {
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    -ms-filter: fliph; /*IE*/
    filter: fliph; /*IE*/
}

.header h1 {
    float: none;
}


.header a {
    color: white;
}


.header h1 a {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    text-decoration: none;
    color: white;
    font-size: 80px;
}


.header h4 {
    margin-left: 19%;
    font-family: 'Robot', sans-serif;
    font-weight: 100;
    font-size: 17px;
    color: white;
    margin-top: -15px;
}


.header li {
    color: white;
}


.header {
    background-color: black;
    background-image: url("../graphics/sunrise.png");
    background-position: center;
}

/* -------------------------------------------------------------------*/

.container {
    font-family: 'Roboto', sans-serif
}

.section {
    margin: 0;
    font-size: 14px;
    text-align: center;
}

.section p.centered {
    text-align: center;
}

.section h1 {
    font-size: 26px;
    margin-bottom: 20px;
}

.section h2 {
    font-size: 18px;
}

.section h2, .section h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

.section h3 {
    font-size: 18px;
}


.section-content-dark {
    min-width: 250px;
    text-align: left;
}

.section-content-dark a {
    color: #FFCC99
}


.full-width-image {
    margin-top: 20px;
}

.caption {
    font-size: 12px;
}

.section-body {
    margin-bottom: 30px;    
}

.section-body.demo {
    min-width: 200px;
    margin-left: 0px;
}

.video {
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
}

img.preview {
    width: 100%;
    height: auto;
}

.section-content-white {
    min-width: 250px;
    text-align: left;
}

@media only screen and (max-width: 500px) {

  .header {
      padding-top: 0px;
  }

  .header li {
      font-size: 18px;
  }

  .header ul {
      padding-inline-start: 10px;
  }

  .header h1 a {
      font-size: 35px;
  }

  .header h4 {
      font-size: 10px;
      /* margin-left: 6%; */
      /* margin-top: auto; */
  }

  .section-body.demo {
        margin-left: 15px;
  }

} 