.body {
    font-size: 16px;
    font-weight: 300;
}

a {
    color:#FFCC99;
    text-decoration: underline;
}

strong {
        color: rgb(208, 55, 55);
        font-weight: bolder;
        font-size: 15px;
}

a.strong-link {
    font-weight: bolder;
    font-size: 15px;
}

 /* ---------------------------------------------------------- HEADER -- */


.header {
    padding-top: 20px;
}

.header h1 {
    float: none;
}

.header h1 a {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    text-decoration: none;
    color: white;
    font-size: 65px;
}


.header h4 {
    margin-left: 17%;
    font-family: 'Robot', sans-serif;
    font-weight: 100;
    font-size: 14px;
    color: white;
    margin-top: -15px;
}


.header li {
        color: white;
}


.header {
    background-image: url("../graphics/sunrise.png");
    background-position: center;
}

/* -------------------------------------------------------------------*/

.container {
    font-family: 'Roboto', sans-serif
}

.section {
    margin: 0;
    font-size: 14px;
}

.section h2 {
    font-size: 25px;
}

.section h2, .section h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

.section h3 {
    font-size: 18px;
}

.section-content-dark {
    min-width: 250px;
}

.section-content-dark a {
    color: #FFCC99
}


.full-width-image {
    margin-top: 75px;
}

.caption {
    font-size: 12px;
}


.section-body.demo {
    min-width: 200px;
    margin-left: 0;
}

.video {
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
}

img.preview {
    width: 100%;
    height: auto;
}

.section-content-white {
    min-width: 250px;
}

@media only screen and (max-width: 500px) {

  .header {
      padding-top: 0px;
  }

  .header li {
      font-size: 18px;
  }

  .header ul {
      padding-inline-start: 10px;
  }

  .header h1 a {
      font-size: 35px;
  }

  .header h4 {
      font-size: 10px;
      /* margin-left: 6%; */
      /* margin-top: auto; */
  }

} 